/* Reseting css file */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

button, input, submit {
    border: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0, .7);
}

a:hover {
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header info */
#header {
    position: relative;
    top: 10px;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#header-info {
    width: 400px;
    min-width: 244px;
    display: flex;
    justify-content: center;
}

#header-info > * {
    height: 30px;
    margin-left: 20px;
    position: relative;
    left: 45px;
}

#header-gmail-label, #header-images-label {
    padding: 7px 0;
    text-align: center;
}

#connexion-button {
    min-width: 100px;
    line-height: 2px;
    background-color: #4285f4;
    color: white;
}

#products-tab {
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-position: -132px -38px;
    opacity: .55;
    height: 30px;
    width: 30px;
}

#products-tab:hover {
    opacity: 1;
}
/* FIN Header info*/ 

#query-box-center {
    display: flex;
    flex-direction: column;
    padding-bottom: 156px;
}

#query-box-logo {
    display: flex;
    justify-content: center;
    height: 233px;
    width: 100%;
}

#query-box-logo > img {
    padding-top: 109px;
    height: 92px;
    width: 272px;
}

#query-box {
    flex: 1;
    display: flex;
    width: 584px;
    margin: 0 auto;
    padding: 5px 0 8px 16px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    box-shadow: 0 1px 1px #c6c6c6;
}

#query-box:hover {
    box-shadow: 0 2px 5px #757575;
}

#query-box-input {
    flex-grow: 0.85;
    line-height: 34px;
    outline: none;
    font-size: 16px;
}

#query-box-vocal-search-logo {
    background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
    height: 24px;
    width: 24px;
    background-size: 24px;
    vertical-align: center;
}

#query-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 18px;
}

#query-buttons > button {
    min-width: 54px;
    margin-left: 10px;
    color: #757575;
    background-color: #f2f2f2;
    cursor: pointer;
    padding: 0 15px;
}

#query-buttons > button:hover {
    color: #222;
    border: 1px solid #c6c6c6;
}

/* PRIVACY POLICY */ 

#privacy-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    border-top: 1px solid #e4e4e4;
    height: 100px;
    width: 100%;
    bottom: 80px;
}

#privacy-msg {
    display: flex;
}

#privacy-msg > div {
    display: flex;
    align-items: center;
    font-size: 20px;
    vertical-align: middle;
}

#privacy-buttons {
    display: flex;
    margin-right: 20px;
    font-size: 14px;
}

#privacy-white-btn {
    color: #4285f4;
    margin-right: 10px;
    border: none;
}

#privacy-white-btn:hover {
    background-color: rgba(153,153,153,.2);
}

#privacy-blue-btn {
    background-color: #4285f4;
    color: white
}

#privacy-blue-btn:hover {
    background: rgb(27, 122, 216);
}

#privacy-msg > img {
    padding: 3px 10px;
}

/* END */ 

/* INFOS */

#nation {
    position: absolute;
    width: 100%;
    bottom: 40px;
}

#informations {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
}

#right-infos {
    display: flex;
    flex-wrap: nowrap;
}

#right-infos > * {
    padding-top: 13px;
    margin-right: 10px;
    white-space: nowrap;
}

#left-infos {
    display: flex;
    flex: nowrap;
}

#left-infos > * {
    padding-top: 13px;
    margin-right: 10px;
    white-space: nowrap;
}

.google-text-color {
    color: #757575;
}

.google-box {
    border-radius: 2px;
    border: 1px solid #f2f2f2;
}

.google-button {
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    font-weight: bold;
    white-space: nowrap;
}

.google-button-1 {
    height: 36px;
    padding: 10px 8px;
}

.google-button-2 {
    height: 30px;
}

.google-button-uppercase {
    text-transform: uppercase;
}

.google-link {
    font-size: 13px;
}

.info-bars {
    height: 40px;
    padding-left: 27px;
    color: #5f6368;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;

}